
/* HEADER */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
    .site-title h1 {
        font-size: 3.5em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .site-title h1 {
        font-size: 4em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .site-title h1 {
        font-size: 5em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .site-title h1 {
        font-size: 6em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .site-title h1 {
        font-size: 7em;
    }
}


.site-title {
    font-family: Amuba;
    background-color: black;
    color: white;
    text-align: center;
    border-bottom: 1px solid darkgray;
    margin-bottom: 0;
    max-height: fit-content;
    padding: 1.25em;
}


/* Removes the default right and left side margins from boostrap container-fluid */
.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;  
}

.announcement {
    background-color: rgb(255, 168, 201);
    color: white;
    text-align: center;
    padding: 0.75rem 0.25rem 0.25rem 0.25rem;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0.75em;
}

.announcement h4 {
    font-size: medium;
    font-weight: bold;
}


/* Sets margins to content to prevent content being pressed to the edges 
    and adds space at the bottom, not really needed if using bootstrap,
    but is being used to show that I only changed the home page 
    background color */
.wrapper {
    min-height: 100%;
    padding: 5vh 5vw 5vh 5vw;
}

.content-pad-before {
    padding-top: 5vh;
}

  /* NAVIGATION BAR */ 
    
    .nav {
        padding: 0.25em;
        border-bottom: 1px solid darkgray; 
    }

    .nav-item {
        text-decoration: none; /* Remove underline */
        font-weight: normal;
        font-size: larger;
    }

        .nav-item a:link {
            color:brown
        }

        .nav-item a:hover {
            font-weight: bolder;
        }

        .nav-item a:visited {
            color: cadetblue;
        }
        
        .nav-pills .nav-link.active {
            background-color: rgb(255, 168, 201);
            color: white;
        }


/* BODY */

#home-main {
    background-color: rgb(250, 237, 239);
}

.homepage p {
    margin-left: 10%;
    margin-right: 10%;
}

/* FOOTER */

footer {
    display: block;
    text-align: center;
    padding: 4em;
    background-color: black;
    color: white;
}





/* FONTS */

@font-face {
    font-family: "Amuba";
    src: url("/assets/amuba_2/Amuba\ FREE.otf");
}

@font-face {
    font-family: "Hamberger-Bold";
    src: url("/assets/Hamberger-Bold.ttf");
}

@font-face {
    font-family: "Rose Velt";
    src: url("/assets/Rose\ Velt.ttf");
}

